.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px 0px 40px;
  background-color: var(--blue-300);
  color: var(--blue-100);
  font-family: var(--roboto);
  height: var(--s);
}

.nav-wrap {
  display: flex;
  width: auto;
}

.nav-logo {
  display: flex;
  width: auto;
}

.nav-brand {
  font-weight: var(--bold);
}

.nav-items {
  display: flex;
  justify-content: center;
}

.nav-link {
  font-weight: var(--medium);
  margin: 0px 16px 0px 0px;
  color: white;
}

.nav-auth {
  display: flex;
  width: auto;
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--m);
  height: var(--xs);
  border: none;
  border-radius: 10px;
  background-color: white;
  margin: 0px 16px 0px 0px;
  color: white;
  font-weight: 700;
}

.login {
  background-color: var(--green-400);
}

.register {
  background-color: var(--green-600);
}
